{%extends 'base.html'%}
{%block body_block%}
{%load static%}
<div class="text-center">
                    <h1>2nd Show</h1><h4><em>9:00 pm</em></h4>
<div class="container-fluid">
    <div class=" row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        {%for m in movie%}

        <div class="col mb-5">
            <div class="card h-100 shadow p-3 mb-5 bg-body rounded">
                <div class="text-center">
                    <img class="card-img-top" src="{{m.poster.url}}" alt="..." height="300"/>
                </div>
                <div class="card-body p-4">
                    <div class="text-center">
                        <h5 class="fw-bolder">{{m.movie_name}}</h5>
                        <p>{{m.screen.theater.theater_name}}</p>
                        {{m.play_time}} Show
                    </div>
                </div>

                <div class="card-footer p-0 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                                href="{%url 'detail_movie' m.id%}">View</a></div>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
{%endblock%}