{%extends 'base.html'%}
{%block body_block%}
{%load static%}
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <form action="" class="border border-2 border-success p-4  rounded text-center" method="post" enctype="multipart/form-data">
                <h2 class="mb-3 text-center text-success ">Book Show </h2>
                {%csrf_token%}
                {{form.as_p}}
  <button class="btn btn-outline-success text-center " type="submit" href="">Add</button>

            </form>
        </div>

    </div>
</div>
<div class="col-4">

</div>
</div>
{%endblock%}