{%extends 'base.html'%}
{%block body_block%}
{%load static%}
<div class="container-fluid">
    {%if booked%}
    <div class=" row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        {%for b in booked%}
        <div class="col mb-5">
            <div class="card h-100 shadow p-3 mb-5 bg-body rounded">
                <div class="text-center">
                    <img class="card-img-top" src="{{b.show.movie.poster.url}}" alt="..." height="300"/>
                </div>

                <div class="card-body p-4">
                    <div class="text-center">
                        <h3 class="fw-bolder">
                             {{b.screen.theater.theater_name}}
                        </h3>

                        <span><h4 class="fw-bolder">{{b.show.movie.movie_name}}</h4> (<em>{{b.screen}}</em>)</span>
                        <div>
                        Booked Seats : {{b.occupancy}}
                            </div>
                        <p>Show: {{b.play_time}}</p>
                        <div></div>
                        Paid
                    </div>
                </div>

                <div class="card-footer p-0 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                                href="{%url 'cancelled' id=b.id%}">Cancel</a></div>
                </div>

            </div>
        </div>
        {%endfor%}
    </div>
    {%else%}
                <h2  class="text-center">NO Bookings</h2>
                {%endif%}
</div>
{%endblock%}