{%extends 'base.html'%}
{%block body_block%}
{%load static%}

                {%if theatre%}
                <table class="table table-info table-striped text-center">
                    <tr>
                        <th>Theatre</th>
                        <th>Theatre name</th>
                        <th>City</th>
                        <th>Status</th>
                        <th>Owner</th>
                        <th>Contacts</th>
                        <th>Action</th>
                    </tr>
                    {%for t in theatre%}
                    <tr>
                        <td><img class="card-img-top" src="{{t.image.url}}" alt="" height="60"></td>
                        <td>{{t.theater_name}}</td>
                        <td>{{t.city}}</td>
                        <td>{{t.theater_status}}</td>
                        <td>{{t.owner}}</td>
                        <td>{{t.phone_number}}</td>
                        <td>
                            <a href="#" class="btn btn-outline-info">View</a>
                            <a href="#" class="btn btn-outline-info">Screens</a>
                        </td>
                    </tr>
                    {%endfor%}

                </table>

                {%else%}
                <h2>NO theatre</h2>
                {%endif%}

{%endblock%}