{%extends 'base.html'%}
{%block body_block%}
{%load static%}
<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <form action="" class="border border-2 border-success p-4 rounded text-center text-dark" method="get" enctype="multipart/form-data">


                <img class="form" src="{{request.user.image.url}}" alt="..." height="200"/>
                <h3>{{request.user}}</h3>
                <h4> Name :{{request.user.first_name}} {{request.user.last_name}}</h4>
                <h5>Email :{{request.user.email}}</h5>
                <h6>Mobile :{{request.user.mobile}}</h6>
                <h6>Address : {{request.user.address}}</h6>
                <p> Age {{request.user.age}} </p>

                <a class="btn btn-outline-success mt-auto text-center"
                   href="{%url 'customer_details_edit' request.user.id%}">Edit</a>
            </form>
        </div>
    </div>
</div>

<div class="col-3"></div>
{%endblock%}