{%extends 'base.html'%}
{%block body_block%}
{%load static%}
<div class="container">

    <div class="row">
        <div class="col-2">
            <a class="btn btn-outline-info" href="{{request.META.HTTP_REFERER|escape}}">Back</a>
        </div>
        <div class="col mb-5">
            {%if show%}
            <div class="card h-100 shadow p-3 mb-5 bg-body rounded">
                <h3 class="text-center">
                    Book-Show
                </h3>
                {%for s in show%}

                <div class="card-body p-4">
                    <div class="text-center">
                        <a class="btn btn-outline-success" href="{%url 'show_booking' id=s.id%}">{{s.date}}</a>
                    </div>
                </div>
                {%endfor%}
                <div>
                    {%else%}
                    <h2>NO show</h2>
                    {%endif%}
                </div>
            </div>

        </div>
    </div>
</div>
{%endblock%}


